<!--Header-->
<div class="content-heading">
  <div>
    💻 Clients
    <br>
    <small><b> The Client class represents an OpenID Connect or OAuth 2.0 client - e.g. a native application, a web
        application or a JS-based application..</b></small>
  </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='/clients'><i nz-icon
    nzType="rollback"></i>Go back</button>
<!--Body-->
<nz-spin [nzSpinning]="isSpinning">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired>Client Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
        [nzErrorTip]="clientNameErrorTpl">
        <input nz-input formControlName="clientName" placeholder="Client name" />
        <ng-template #clientNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input client Name!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]=" 6" [nzXs]="24">Description</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea formControlName="description" nz-input rows="4" placeholder="Write client description..."></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired>Client Uri</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
        [nzErrorTip]="clientUriErrorTpl">
        <input nz-input formControlName="clientUri" placeholder="Client uri" />
        <ng-template #clientUriErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please input client Uri!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]=" 6" [nzXs]="24">Logo Uri</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="logoUri" placeholder="Logo uri" [ngModel]="logo" />
        <nz-upload [nzLimit]="1" nzAction="{{api_upload}}" [nzHeaders]="{ authorization: 'authorization-text' }"
          (nzChange)="handleChange($event)">
          <a nz-button><i nz-icon nzType="upload"></i>Click to Upload</a>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Client Type</nz-form-label>
    <div class="ng-tns-c217-4 ant-form-item-control ant-col ant-col-xs-24 ant-col-sm-14 ng-star-inserted">
      <nz-tag *ngFor="let tag of tags" style="margin-top: 24px;" class="border" nzMode="checkable"
        [nzChecked]="tag.check" (nzCheckedChange)="checkChange($event,tag.description, tag.clientType)">
        <div class="card-body text-center">
          <div class="text-lg m-0">{{tag.icon}}</div>
          <p>{{tag.description}}</p>
          <small>{{tag.type}}</small>
        </div>
      </nz-tag>
    </div>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" (click)='submitForm()'>Create</button>
      <button nz-button nzType="default" routerLink='/clients'>Cancel</button>
    </nz-form-control>
  </nz-form-item>
</nz-spin>