<!--Header-->
<div class="content-heading">
  <div>
    🔑 Permissions
    <br>
    <small><b>Represents a role in the identity system</b></small>
  </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" (click)="open()"><i nz-icon
    nzType="file-add"></i>Create new
  role</button>
<br><br>
<div nz-row>
  <div nz-col nzSpan="6">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input placeholder="Search permission with id, name,..." nz-input type="text" [(ngModel)]="searchValue"
        (keydown.enter)="handleInputConfirm()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>
<!--Body-->
<nz-spin [nzSpinning]="isSpinning">
  <nz-table #roleTable nzBordered [nzScroll]="{ x: '1000px' }" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
    [nzData]="items" [nzTotal]="totalRecords" [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th>Index</th>
        <th>Id</th>
        <th>Name</th>
        <th>User Permissions</th>
        <th>Client Permissions</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roleTable.data; let i = index">
        <td> {{i}}</td>
        <td>{{ role.id }}</td>
        <td>{{ role.name }}</td>
        <td>
          <div class="table-action">
            <a style="text-decoration:underline; margin-right: 5px;" [routerLink]="[role.id,'editPermissons']">
              Edit
            </a>
          </div>
        </td>
        <td>
          <div class="table-action">
            <a style="text-decoration:underline; margin-right: 5px;" [routerLink]="[role.id,'clientPermissons']">
              Edit
            </a>
          </div>
        </td>
        <td>
          <div class="table-action">
            <a style="text-decoration:underline" href='javascript:void(0)' (click)='showConfirm(role.id)'>
              Delete
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>
<!--Add new permisson-->
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="bottom" nzTitle="Add new permission"
  (nzOnClose)="close()">
  <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label nzRequired>Permission Id</nz-form-label>
      <nz-form-control nzErrorTip="Please input permisson id!">
        <nz-input-group nzPrefixIcon="key">
          <input formControlName="id" nz-input placeholder="Role id" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Permission Name</nz-form-label>
      <nz-form-control nzErrorTip="Please input permisson name!">
        <nz-input-group nzPrefixIcon="key">
          <input formControlName="name" nz-input placeholder="Role name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Permission Normalized Name</nz-form-label>
      <nz-form-control nzErrorTip="Please input normalized name!">
        <nz-input-group nzPrefixIcon="key">
          <input formControlName="normalizedName" nz-input placeholder="Normalized name" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Create</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>