* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}
/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
    color: #6675df;
}
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}
p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}
ul, li {
    margin: 0px;
    list-style-type: none;
}
/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}
button:hover {
    cursor: pointer;
}
iframe {
    border: none !important;
}
input {
  outline: none;
  border: none;
}

.container-fluid {
  background-color: #f2f2f2;
}
.container-page {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  max-width: 1172px;
  display: flex;
}
.left-wrapper {
  flex: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  .login-text {
    background-image: url('../../assets/images/background-2.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    h2 {
      color: #f2f2f2;
      padding-bottom: 10px;
    }
    p {
      font-size: 16px;
    }
  }
}
.right-wrapper {
  width: 100%;
  height: 100vh;
  flex:7;
  display: flex;
  align-items: center;
  margin-left: 30px;
  .login-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    background-color: #FFF;
    border-radius: 8px;
    h3 {
      padding-bottom: 30px;
      margin: 0 auto;
    }
    .form-wrapper {
      position: relative;
      margin-bottom: 20px;
      .form-input {
        border: 1px solid #cbc8c8;
        padding: 20px;
        width: 100%;
        height: 50px;
        border-radius: 4px;
        transition: 0.25s ease;
        &:focus {
          border-color: #6a5af9;
        }
      }
      .form-input:not(:placeholder-shown) + .form-label , .form-input:focus + .form-label {
          top: 0;
          left: 10px;
          padding: 0px 10px;
          background-color: #FFF;
          display: inline-block;
          color: #6a5af9;
      }
      .form-label {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        user-select: none;
        color: #999;
        pointer-events: none;
        transition: 0.25s ease;
      }
    }
    .password-remember-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .remember-wrapper {
        display: flex;
        align-items: center;
        label {
          margin-left: 6px;
        }
        a {
          font-size: 14px;
          color: #555555;
        }
      }
    }
    .btn-login {
      width: 100%;
      background-color: #3a50f1;
      padding: 10px 0px;
      margin-top: 20px;
      border-radius: 6px;
      span {
        font-size: 18px;
        font-weight: 600;
        color: #FFF;
      }
      &:hover {
        background-color: #6675df;
      }
    }
    span {
      padding: 14px 0px;
      font-size: 14px;
      color: #555555;
    }
    .social-wrapper {
      display: flex;
      li {
        margin-right: 10px;
      }
      .social-item {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #cac9c9;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          display: block;
        }

      }
      .icon{
        color: #fff;
        height: 45px;
        width: 45px;
      }
    }
  }
}
// [ Alert validate ]*/
.validate-input {
  position: relative;
}
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 100;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 110;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}
.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
