.content-heading{
  margin: 0px 0px 20px 0px;
  span {
    color: #000;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    color: #8e8e8e;
  }
}
.search-box {
padding: 8px;
}

.search-box input {
width: 188px;
margin-bottom: 8px;
display: block;
}

.search-box button {
width: 90px;
}

.search-button {
margin-right: 8px;
}
.table-action {
display: flex;
justify-content: space-between;
}

.th-title {
font-size: 16px;
}