<!--Header-->
<div class="content-heading">
    <span>💻 Clients</span>
    <p> The Client class represents an OpenID Connect or OAuth 2.0 client - e.g. a native application, a web application or a JS-based application..</p>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='add'>
    <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
    New Client
</button>
<br><br>
<div nz-row>
    <div nz-col nzSpan="6">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input placeholder="Search client with id, name,..." nz-input type="text" [(ngModel)]="search"
                (keydown.enter)="handleInputConfirm()" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
    </div>
</div>

<!--Body-->
<nz-spin [nzSpinning]="isSpinning">
    <nz-table #clientTable nzBordered [nzScroll]="{ x: '1000px' }" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
        [nzData]="items" [nzTotal]="totalRecords" [nzFrontPagination]="false"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th nzWidth="45px"></th>
                <th class="th-title" nzWidth="30%">Client Id</th>
                <th class="th-title" nzWidth="8%">Logo</th>
                <th class="th-title">Client Name</th>
                <th class="th-title" nzWidth="20%">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clientTable.data; let i = index">
                <td>{{ i }}</td>
                <td>{{ client.clientId }}</td>
                <td>
                    <nz-avatar [nzSize]="64" [nzSrc]="client.logoUri"></nz-avatar>
                </td>
                <td>{{ client.clientName }}</td>
                <td>
                    <div class="table-action">
                        <button nz-button nzType="primary" [routerLink]="[client.clientId,'edit']">
                           Edit<i nz-icon nzType="edit" nzTheme="fill"></i>
                        </button>
                        <button  nz-button nzType="primary" nzDanger (click)='showDeleteConfirm(client.clientId)'>
                            Delete<i nz-icon nzType="delete" nzTheme="fill"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>