<!--Header-->
<div class="content-heading">
  <span>👨‍👩‍👧‍👦 Users</span>
  <p> A user is a person or robot that can access resources and clients.</p>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='/users'><i nz-icon
    nzType="rollback"></i>Go back</button>
<!--Body-->
<nz-spin [nzSpinning]="isSpinning">
  <div class="form-wrapper">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitValidateForm(validateForm.value)" class="form-block">
      <nz-form-item class="form-input">
        <label for="">User Name<span>*</span></label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
          [nzErrorTip]="nameErrorTpl">
          <input nz-input formControlName="userName" placeholder="User name" />
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input user name!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-input">
        <label for="">First Name<span>*</span></label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
          [nzErrorTip]="firstNameErrorTpl">
          <input nz-input formControlName="firstName" placeholder="First name" />
          <ng-template #firstNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input first name!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-input">
        <label for="">Last Name<span>*</span></label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
          [nzErrorTip]="lastNameErrorTpl">
          <input nz-input formControlName="lastName" placeholder="Last name" />
          <ng-template #lastNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input last name!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-input">
        <label for="">Email<span>*</span></label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
          [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" placeholder="user@email.com" />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input email!
            </ng-container>
            <ng-container *ngIf="control.hasError('email')">
              The input is not valid E-mail!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-input">
        <label for="">Phone<span>*</span></label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']"
          nzErrorTip="Please input your phone number!">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                <nz-option nzLabel="+82" nzValue="+82"></nz-option>
                <nz-option nzLabel="+83" nzValue="+83"></nz-option>
                <nz-option nzLabel="+84(VN)" nzValue="+84"></nz-option>
                <nz-option nzLabel="+85" nzValue="+85"></nz-option>
                <nz-option nzLabel="+86" nzValue="+86"></nz-option>
              </nz-select>
            </ng-template>
            <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-input">
        <label for="">Date of Birth<span>*</span></label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker formControlName="dob"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-input">
        <label for="">Avatar Uri<span>*</span></label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="avatarUri" placeholder="avatar uri" [ngModel]="avatar" />
          <nz-upload [nzLimit]="1" nzAction="{{api_upload}}" [nzHeaders]="{ authorization: 'authorization-text' }"
            (nzChange)="handleChange($event)">
            <a nz-button><i nz-icon nzType="upload"></i>Click to Upload</a>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-input">
        <label for="">Password<span>*</span></label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
          <input nz-input type="password" id="password" formControlName="password"
            (ngModelChange)="updateConfirmValidator()" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-input">
        <label for="">Confirm Password<span>*</span></label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="checkPassworderrorTpl">
          <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
          <ng-template #checkPassworderrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please confirm your password!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Two passwords that you enter is inconsistent!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Create</button>
          <button nz-button routerLink='/users'>Cancel</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-spin>