<!--Header-->
<div class="content-heading">
    <div>
        ☁️ Api Resources
        <br>
        <small><b> Resources are something you want to protect with apiServer – either APIs (by doing this your
                data will be protected as well). So to access your database content must be through an API..</b></small>
    </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='add'><i nz-icon
        nzType="file-add"></i>Create new resource</button>
<br><br>
<div nz-row>
    <div nz-col nzSpan="6">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input placeholder="Search api resource with id, name,..." nz-input type="text" [(ngModel)]="searchValue"
                (keydown.enter)="handleInputConfirm()" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
    </div>
</div>
<!--Body-->
<nz-spin [nzSpinning]="isSpinning">
    <nz-table #apiTable nzBordered [nzScroll]="{ x: '1000px' }" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
        [nzData]="items" [nzTotal]="totalRecords" [nzFrontPagination]="false"
        (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let api of apiTable.data; let i = index">
                <td>{{ i }}</td>
                <td>{{ api.name }}</td>
                <td>{{ api.description }}</td>
                <td>
                    <div class="table-action">
                        <div class="table-action">
                            <a style="text-decoration:underline; margin-right: 5px;" [routerLink]="[api.name,'edit']">
                                Edit
                            </a>
                            <a style="text-decoration:underline" href='javascript:void(0)'
                                (click)='showDeleteConfirm(api.name)'>
                                Delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>