<!--Header-->
<div class="content-heading">
  <div>
    👨‍👩‍👧‍👦 Users
    <br>
    <small><b> A user is a person or robot that can access resources and clients..</b></small>
  </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='add'><i nz-icon
    nzType="user-add"></i>Create new user</button>
<br><br>
<div nz-row>
  <div nz-col nzSpan="6">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input placeholder="Search user with id, name,..." nz-input type="text" [(ngModel)]="searchValue"
        (keydown.enter)="handleInputConfirm()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>
<!--Body-->
<nz-spin [nzSpinning]="isSpinning">
  <nz-table #userTable [nzPageIndex]="pageIndex" nzBordered [nzScroll]="{ x: '1000px' }" [nzPageSize]="pageSize"
    [nzData]="items" [nzTotal]="totalRecords" [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th>Index</th>
        <th>Avatar</th>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userTable.data; let i = index">
        <td>{{ i }}</td>
        <td>
          <nz-avatar [nzSize]="64" [nzSrc]="user.avatarUri"></nz-avatar>
        </td>
        <td>{{ user.userName }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <div class="table-action">
            <a style="text-decoration:underline; margin-right: 5px;" [routerLink]="[user.id,'edit']">
              Edit
            </a>
            <a style="text-decoration:underline" href='javascript:void(0)'
              (click)='showDeleteConfirm(user.fullName, user.id)'>
              Delete
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-spin>