.content-heading{
    margin: 0px 0px 20px 0px;
  }
button{
    margin: 0px 20px 10px 0px;
} 
.editable-tag {
  background: rgb(255, 255, 255);
  border-style: dashed;
}
.ant-tag {
  margin-bottom: 8px;
}