img {
  height: 50px;
}

nz-header {
  background: #fff;
  padding: 0px 14px;
  height: auto;
}

nz-content {
  padding: 20px;
}

.inner-content {
  padding: 24px;
  background: #fff;
}

nz-footer {
  text-align: center;
  padding: 10px 0px;
}

.layout-wrapper {
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}