<!--Header-->
<div class="content-heading">
    <div>
        💻 Clients
        <br>
        <small><b> The Client class represents an OpenID Connect or OAuth 2.0 client - e.g. a native application, a web
                application or a JS-based application..</b></small>
    </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='/clients'><i nz-icon
        nzType="rollback"></i>Go back</button>
<!--Body-->
<nz-tabset>
    <nz-tab nzTitle="Basic">
        <nz-spin [nzSpinning]="isSpinning">
            <div class="form-wrapper">
                <form nz-form nzSpan="12" nzOffset="6" [formGroup]="basicForm"
                    (ngSubmit)="submitBasicForm(basicForm.value)" class="form-block">
                    <nz-form-item class="form-input">
                        <label for="">ClientId</label>
                        <nz-form-control [nzSm]="24">
                            <input nz-input formControlName="clientId" readonly />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Client Name<span>*</span></label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                            [nzErrorTip]="clientNameErrorTpl">
                            <input nz-input formControlName="clientName" placeholder="Client name" />
                            <ng-template #clientNameErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input client name!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Description</label>
                        <nz-form-control [nzSm]="24">
                            <textarea formControlName="description" nz-input rows="4"
                                placeholder="Write client description..."></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Client Uri <span>*</span></label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                            [nzErrorTip]="clientUriErrorTpl">
                            <input nz-input formControlName="clientUri" placeholder="Client uri" />
                            <ng-template #clientUriErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input client uri!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Logo Uri</label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <input nz-input formControlName="logoUri" placeholder="Logo uri" [ngModel]="logo" />
                            <nz-upload [nzLimit]="1" nzAction="{{api_upload}}"
                                [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)">
                                <a nz-button><i nz-icon nzType="upload"></i>Click to Upload</a>
                            </nz-upload>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Allowed Cors Origins</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <nz-tag nzColor="processing" *ngFor="let tag of allowedCorsOrigins" [nzMode]="'closeable'"
                                (nzOnClose)="closeTagAllowedCorsOrigins(tag)">
                                {{ sliceTagName(tag) }}
                            </nz-tag>
                            <nz-tag *ngIf="!inputAllowedCorsOriginsVisible" class="editable-tag" nzNoAnimation
                                (click)="showAllowedCorsOriginsInput()"> <i nz-icon nzType="plus"></i> New Cors Origins
                            </nz-tag>
                            <input formControlName="allowedCorsOrigins" #inputElement nz-input nzSize="small"
                                *ngIf="inputAllowedCorsOriginsVisible" type="text"
                                [(ngModel)]="inputAllowedCorsOriginsValue" style="width: 300px;"
                                (blur)="inputConfirmAllowedCorsOrigins()"
                                (keydown.enter)="inputConfirmAllowedCorsOrigins()" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <nz-form-control [nzOffset]="7" [nzSpan]="12">
                            <button nz-button nzType="primary" [disabled]="!basicForm.valid">Save Changes</button>
                            <button nz-button routerLink='/clients'>Cancel</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </nz-spin>
    </nz-tab>
    <nz-tab nzTitle="Setting">
        <nz-spin [nzSpinning]="isSpinning">
            <div class="form-wrapper">
                <form nz-form nzSpan="12" nzOffset="6" [formGroup]="settingForm"
                    (ngSubmit)="submitSettingForm(settingForm.value)" class="form-block">
                    <nz-form-item class="form-input">
                        <label for="">Enable</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="enabled"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Allowed Scopes</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <nz-tag nzColor="processing" *ngFor="let tag of allowedScopes" [nzMode]="'closeable'"
                                (nzOnClose)="closeTagAllowedScopes(tag)">
                                {{ sliceTagName(tag) }}
                            </nz-tag>
                            <br><br>
                            <p>Add new scope:</p>
                            <hr>
                            <nz-tag nz-row *ngFor="let tag of allScopes" nzMode="checkable" nzColor="warning"
                                (nzCheckedChange)="addAllowedScope(tag)"> +
                                {{ tag }}
                            </nz-tag>
    
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Redirect Uri's</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <nz-tag nzColor="processing" *ngFor="let tag of redirectUris" [nzMode]="'closeable'"
                                (nzOnClose)="closeTagRedirectUris(tag)">
                                {{ sliceTagName(tag) }}
                            </nz-tag>
                            <nz-tag *ngIf="!inputRedirectUrisVisible" class="editable-tag" nzNoAnimation
                                (click)="showRedirectUrisInput()"> <i nz-icon nzType="plus"></i> New Redirect Uri </nz-tag>
                            <input #inputElement formControlName="redirectUris" nz-input nzSize="small"
                                *ngIf="inputRedirectUrisVisible" type="text" [(ngModel)]="inputRedirectUrisValue"
                                style="width: 300px;" (blur)="inputConfirmRedirectUris()"
                                (keydown.enter)="inputConfirmRedirectUris()" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Client Secrets</label>
                        <nz-form-control [nzSm]="24">
                            <button nz-button nzType="primary" [routerLink]="['../secrets']">Client Secrets</button>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Allowed Grant Types</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <nz-tag nzColor="processing" *ngFor="let tag of allowedGrantTypes" [nzMode]="'closeable'"
                                (nzOnClose)="closeTagAllowedGrantTypes(tag)">
                                {{ sliceTagName(tag) }}
                            </nz-tag>
                            <br><br>
                            <p>Add new grant type:</p>
                            <hr>
                            <nz-tag nz-row *ngFor="let tag of allGrantTypes" nzMode="checkable" nzColor="warning"
                                (nzCheckedChange)="addAllowedGrantTypes(tag)"> +
                                {{ tag }}
                            </nz-tag>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Require Consent Screen</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="requireConsent"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Remember Consent</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="allowRememberConsent"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Allow Offline Access</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="allowOfflineAccess"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Require Client Secret</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="requireClientSecret"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Protocol Type</label>
                        <nz-form-control [nzSm]="24">
                            <input nz-input formControlName="protocolType" id="protocolType" readonly />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Require Pkce</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="requirePkce"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Allow Access Token Via Browser</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="allowPlainTextPkce"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Allow Access Token Via Browser</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="allowAccessTokensViaBrowser"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Properties</label>
                        <nz-form-control [nzSm]="24">
                            <button nz-button nzType="primary" [routerLink]="['../properties']">Properties</button>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzOffset]="7" [nzSpan]="12">
                            <button nz-button nzType="primary" [disabled]="!settingForm.valid">Save Changes</button>
                            <button nz-button routerLink='/clients'>Cancel</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </nz-spin>
    </nz-tab>
    <nz-tab nzTitle="Authentication">
        <nz-spin [nzSpinning]="isSpinning">
            <div class="form-wrapper">
                <form nz-form nzSpan="12" nzOffset="6" [formGroup]="authenticationForm"
                    (ngSubmit)="submitAuthenticationForm(authenticationForm.value)" class="form-block">
                    <nz-form-item class="form-input">
                        <label for="">User Sso Lifetime</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <input nz-input type="number" formControlName="userSsoLifetime" placeholder="Logo uri" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Logout Url</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <nz-tag nzColor="processing" *ngFor="let tag of postLogoutRedirectUris" [nzMode]="'closeable'"
                                (nzOnClose)="closeTagPostLogoutRedirectUris(tag)">
                                {{ sliceTagName(tag) }}
                            </nz-tag>
                            <nz-tag *ngIf="!inputPostLogoutRedirectUrisVisible" class="editable-tag" nzNoAnimation
                                (click)="showPostLogoutRedirectUrisInput()"> <i nz-icon nzType="plus"></i> New logout url
                            </nz-tag>
                            <input formControlName="postLogoutRedirectUris" #inputElement nz-input nzSize="small"
                                *ngIf="inputPostLogoutRedirectUrisVisible" type="text"
                                [(ngModel)]="inputPostLogoutRedirectUrisValue" style="width: 300px;"
                                (blur)="inputConfirmPostLogoutRedirectUris()"
                                (keydown.enter)="inputConfirmPostLogoutRedirectUris()" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Front Channel Logout Uri</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <input nz-input formControlName="frontChannelLogoutUri" placeholder="Logo uri" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Front Channel Logout Session</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="frontChannelLogoutSessionRequired"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Back Channel Logout Uri</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <input nz-input formControlName="backChannelLogoutUri" placeholder="Logo uri" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Back Channel Logout Session</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="backChannelLogoutSessionRequired"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzOffset]="7" [nzSpan]="12">
                            <button nz-button nzType="primary" [disabled]="!authenticationForm.valid">Save Changes</button>
                            <button nz-button routerLink='/clients'>Cancel</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </nz-spin>
    </nz-tab>
    <nz-tab nzTitle="Token">
        <nz-spin [nzSpinning]="isSpinning">
            <div class="form-wrapper">
                <form nz-form nzSpan="12" nzOffset="6" [formGroup]="tokenForm"
                    (ngSubmit)="submitTokenForm(tokenForm.value)" class="form-block">
                    <nz-form-item class="form-input">
                        <label for="">Identity Token Lifetime<span>*</span></label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                            [nzErrorTip]="identityTokenLifetimeErrorTpl">
                            <input type="number" nz-input formControlName="identityTokenLifetime"
                                placeholder="Identity Token Lifetime" />
                            <ng-template #identityTokenLifetimeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input your identity token lifetime!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Access Token Lifetime<span>*</span></label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                            [nzErrorTip]="accessTokenLifetimeErrorTpl">
                            <input type="number" nz-input formControlName="accessTokenLifetime"
                                placeholder="Access Token Lifetime" />
                            <ng-template #accessTokenLifetimeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input your access token lifetime!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Access Token Type</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person"
                                formControlName="accessTokenType">
                                <nz-option nzLabel="Jwt" nzValue="Jwt"></nz-option>
                                <nz-option nzLabel="Reference" nzValue="Reference"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Authorization Code Lifetime<span>*</span></label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                            [nzErrorTip]="authorizationCodeLifetimeErrorTpl">
                            <input type="number" nz-input formControlName="authorizationCodeLifetime"
                                placeholder="AuthorizationCode Lifetime" />
                            <ng-template #authorizationCodeLifetimeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input your authorization code lifetime!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Absolute Refresh Token Lifetime<span>*</span></label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                            [nzErrorTip]="absoluteRefreshTokenLifetimeErrorTpl">
                            <input type="number" nz-input formControlName="absoluteRefreshTokenLifetime"
                                placeholder="Absolute Refresh Token Lifetime" />
                            <ng-template #absoluteRefreshTokenLifetimeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input your absolute refresh token Lifetime!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Sliding Refresh Token Lifetime<span>*</span></label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                            [nzErrorTip]="slidingRefreshTokenLifetimeErrorTpl">
                            <input type="number" nz-input formControlName="slidingRefreshTokenLifetime"
                                placeholder="Sliding Refresh Token Lifetime" />
                            <ng-template #slidingRefreshTokenLifetimeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input your sliding refresh token lifetime!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Refresh Token Usage</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person"
                                formControlName="refreshTokenUsage">
                                <nz-option nzLabel="ReUse" nzValue="ReUse"></nz-option>
                                <nz-option nzLabel="OneTimeOnly" nzValue="OneTimeOnly"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Refresh Token Expiration</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person"
                                formControlName="refreshTokenExpiration">
                                <nz-option nzLabel="Sliding" nzValue="Sliding"></nz-option>
                                <nz-option nzLabel="Absolute" nzValue="Absolute"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Update Access Token Claims On Refresh</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="updateAccessTokenClaimsOnRefresh"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Include Jwt Id</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="includeJwtId"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Always Send Client Claims</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="alwaysSendClientClaims"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Always Include User Claims In Id Token</label>
                        <nz-form-control [nzSm]="24">
                            <nz-switch formControlName="alwaysIncludeUserClaimsInIdToken"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Pair Wise Subject Salt<span>*</span></label>
                        <nz-form-control [nzSm]="24">
                            <input nz-input formControlName="pairWiseSubjectSalt" placeholder="Pair Wise Subject Salt" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Client Claims Prefix<span>*</span></label>
                        <nz-form-control [nzSm]="24">
                            <input nz-input formControlName="clientClaimsPrefix" placeholder="Client Claims Prefix" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Claims</label>
                        <nz-form-control [nzSm]="24">
                            <button nz-button nzType="primary" [routerLink]="['../claims']">Claims</button>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-control [nzOffset]="7" [nzSpan]="12">
                            <button nz-button nzType="primary" [disabled]="!tokenForm.valid">Save Changes</button>
                            <button nz-button routerLink='/clients'>Cancel</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </nz-spin>
    </nz-tab>
    <nz-tab nzTitle="Device Flow">
        <nz-spin [nzSpinning]="isSpinning">
            <div class="form-wrapper">
                <form nz-form nzSpan="12" nzOffset="6" [formGroup]="deviceFlowForm"
                    (ngSubmit)="submitDeviceFlowForm(deviceFlowForm.value)" class="form-block">
                    <nz-form-item class="form-input">
                        <label for="">User Code Type</label>
                        <nz-form-control [nzSm]="24">
                            <input nz-input formControlName="userCodeType" placeholder="User Code Type" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <label for="">Device Code Lifetime</label>
                        <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                            [nzErrorTip]="deviceCodeLifetimeErrorTpl">
                            <input type="number" nz-input formControlName="deviceCodeLifetime"
                                placeholder="Device Code Lifetime" />
                            <ng-template #deviceCodeLifetimeErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please input your device code lifetime!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="form-input">
                        <nz-form-control [nzOffset]="7" [nzSpan]="12">
                            <button nz-button nzType="primary" [disabled]="!deviceFlowForm.valid">Save Changes</button>
                            <button nz-button routerLink='/clients'>Cancel</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </nz-spin>
    </nz-tab>
</nz-tabset>