<!--header-->
<div class="content-heading">
    <div>
        ☁️ Api Resources
        <br>
        <small><b> Resources are something you want to protect with apiServer – either APIs (by doing this your
                data will be protected as well). So to access your database content must be through an API..</b></small>
    </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='../edit'><i nz-icon
        nzType="rollback"></i>Go back</button>
<!--Body-->
<nz-spin [nzSpinning]="isSpinning">
    <nz-table #secretTable nzBordered [nzData]="itemApiSecrets" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th>Id</th>
                <th>Secret Value</th>
                <th>Secret Type</th>
                <th>Expiration</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let secret of secretTable.data">
                <td>{{ secret.id }}</td>
                <td>{{ secret.value }}</td>
                <td>{{ secret.type }}</td>
                <td>{{ secret.expiration }}</td>
                <td>{{ secret.description }}</td>
                <td>
                    <div class="table-action">
                        <a href='javascript:void(0)' (click)='showDeleteConfirmApiSecrets(secret.id)'>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>
<br>
<hr>
<div>
    <!--Add secret-->
    <form nz-form [formGroup]="secretForm" (ngSubmit)="submitFormApiSecrets()">
        <nz-form-item>
            <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired nzFor="type">Type secret</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                <input nz-input formControlName="type" id="type" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired nzFor="value">Value secret</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                <input nz-input formControlName="value" id="value" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]=" 6" [nzXs]="24">Description</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea formControlName="description" nz-input rows="4"
                    placeholder="Write api description..."></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="expiration">Expiration</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-date-picker formControlName="expiration"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]=" 6" [nzXs]="24" nzFor="hashType">Hash Type</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="hashType" id="hashType" readonly />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" [disabled]="!secretForm.valid">Create</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>