<!--header-->
<div class="content-heading">
    <span>☁️ Api Resources</span>
    <p> Resources are something you want to protect with apiServer – either APIs (by doing this your
        data will be protected as well). So to access your database content must be through an API..</p>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='../edit'><i nz-icon
        nzType="rollback"></i>Go back</button>
<!--Body-->
<nz-spin [nzSpinning]="isSpinning">
    <nz-table #secretTable nzBordered [nzData]="itemApiSecrets" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th>Id</th>
                <th>Secret Value</th>
                <th>Secret Type</th>
                <th>Expiration</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let secret of secretTable.data">
                <td>{{ secret.id }}</td>
                <td>{{ secret.value }}</td>
                <td>{{ secret.type }}</td>
                <td>{{ secret.expiration }}</td>
                <td>{{ secret.description }}</td>
                <td>
                    <div class="table-action">
                        <a href='javascript:void(0)' (click)='showDeleteConfirmApiSecrets(secret.id)'>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-spin>
<br>
<hr>
<div class="form-wrapper">
    <!--Add secret-->
    <form nz-form [formGroup]="secretForm" (ngSubmit)="submitFormApiSecrets()" class="form-block">
        <nz-form-item class="form-input">
            <label for="">Type secret<span>*</span></label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                <input nz-input formControlName="type" id="type" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-input">
            <label for="">Value secret<span>*</span></label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                <input nz-input formControlName="value" id="value" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-input">
            <label for="">Description</label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea formControlName="description" nz-input rows="4"
                    placeholder="Write api description..."></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-input">
            <label for="">Expiration</label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-date-picker formControlName="expiration"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="form-input">
            <label for="">Hash Type</label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="hashType" id="hashType" readonly />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" [disabled]="!secretForm.valid">Create</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>