<div class="home-container">
  <!--Header-->
  <h1>Welcome!</h1>
  <p>This is Single Sign-On Admin Panel. Here you can manage your SSO settings..</p>
  <hr>
  <div class="row justify-content-md-center">
    <div class="text-center">
      <a href="https://dotnet.microsoft.com" target="_blank" nz-tooltip nzTooltipTitle="ASPNETCore">
        <img class="img-intro" src="./assets/images/netcore-logo.png" alt="">
      </a>
      <a href="https://angular.io" target="_blank" nz-tooltip nzTooltipTitle="Angular ">
        <img style="width: 200px; height: 200px; margin: 10px;" src="./assets/images/angular-logo.png" alt="">
      </a>
      <a href="https://identityserver4.readthedocs.io/en/latest/" target="_blank" nz-tooltip
        nzTooltipTitle="Identity Server">
        <img class="img-intro" src="./assets/images/is4-logo.png" alt="">
      </a>
    </div>
  </div>
  <a nz-button nzType="primary" href="https://github.com/tinhpham76/Microservices" target="_blank">Learn More</a>
  <!--Body-->
  <div style="background: #ECECEC;padding:30px;">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8" style="text-align: center;">
        <nz-card nzTitle="Clients" nz-tooltip
          nzTooltipTitle="The Client class represents an OpenID Connect or OAuth 2.0 client - e.g. a native application, a web application or a JS-based application.">
          <a routerLink='/clients'>Manage</a>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" style="text-align: center;">
        <nz-card nzTitle="Api Resources" nz-tooltip
          nzTooltipTitle="Resources are something you want to protect with IdentityServer – either APIs (by doing this your data will be protected as well). So to access your database content must be through an API.">
          <a routerLink='/api-resources'>Manage</a>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" style="text-align: center;">
        <nz-card nzTitle="Api Scopes" nz-tooltip
          nzTooltipTitle="Scopes are something you want to protect with IdentityServer – either APIs (by doing this your data will be protected as well). So to access your database content must be through an API.">
          <a routerLink='/api-scopes'>Manage</a>
        </nz-card>
      </div>
    </div>
    <br>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8" style="text-align: center;">
        <nz-card nzTitle="Identity Resources" nz-tooltip
          nzTooltipTitle="Identity resources are data like user ID, name, or email address of a user. An identity resource has a unique name, and you can assign arbitrary claim types to it. These claims will then be included in the identity token for the user..">
          <a routerLink='/identity-resources'>Manage</a>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" style="text-align: center;">
        <nz-card nzTitle="Users" nz-tooltip
          nzTooltipTitle="A user is a person or robot that can access resources and clients..">
          <a routerLink='/users'>Manage</a>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" style="text-align: center;">
        <nz-card nzTitle="Permissions" nz-tooltip nzTooltipTitle="Represents a role in the identity system">
          <a routerLink='/permissions'>Manage</a>
        </nz-card>
      </div>
    </div>
    <br>
  </div>
</div>