<!--Header-->
<div class="content-heading">
    <span>👨‍👩‍👧‍👦 Users</span>
    <p> A user is a person or robot that can access resources and clients.</p>
  </div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='/users'><i nz-icon
        nzType="rollback"></i>Go back</button>
<!--Body-->
<nz-spin [nzSpinning]="isSpinning">
    <div style="background-image: url(assets/images/background-2.jpg); background-size: 50%; margin: 10px 0px;">
        <br>
        <div nz-row nzJustify="center">
            <div nz-col>
                <nz-avatar [nzSize]="150" [nzSrc]="avatar">
                </nz-avatar>
            </div>
        </div>
    </div>
    <div class="form-wrapper">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitValidateForm(validateForm.value)" class="form-block">
            <nz-form-item class="form-input">
                <label for="">User Id<span>*</span></label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="id" readonly />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">User Name<span>*</span></label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="nameErrorTpl">
                    <input nz-input formControlName="userName" placeholder="User name" />
                    <ng-template #nameErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input user name!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">First Name<span>*</span></label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="firstNameErrorTpl">
                    <input nz-input formControlName="firstName" placeholder="First name" />
                    <ng-template #firstNameErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input first name!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">Last Name<span>*</span></label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="lastNameErrorTpl">
                    <input nz-input formControlName="lastName" placeholder="Last name" />
                    <ng-template #lastNameErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input last name!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">Email<span>*</span></label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="emailErrorTpl">
                    <input nz-input formControlName="email" placeholder="user@email.com" />
                    <ng-template #emailErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Please input email!
                        </ng-container>
                        <ng-container *ngIf="control.hasError('email')">
                            The input is not valid E-mail!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">Phone</label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']"
                    nzErrorTip="Please input your phone number!">
                    <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">Date of Birth</label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker formControlName="dob"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">Create Date</label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker formControlName="createDate" nzDisabled></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">Last Update</label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker formControlName="lastModifiedDate" nzDisabled></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">Reset Password</label>
                <nz-form-control [nzSm]="24">
                    <a nz-button nzType="primary" nzDanger (click)='resetPassword()'>Reset</a>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">Avatar Uri</label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="Validating...">
                    <input nz-input formControlName="avatarUri" placeholder="avatar uri" [ngModel]="avatar" />
                    <nz-upload [nzLimit]="1" nzAction="{{api_upload}}" [nzHeaders]="{ authorization: 'authorization-text' }"
                        (nzChange)="handleChange($event)">
                        <a nz-button><i nz-icon nzType="upload"></i>Click to Upload</a>
                    </nz-upload>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-input">
                <label for="">User's Roles</label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="userRoles" nzMode="multiple" nzPlaceHolder="Please select">
                        <nz-option *ngFor="let option of listOfOptionRoles" [nzLabel]="option.label"
                            [nzValue]="option.value">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid">Save changes</button>
                    <button nz-button routerLink='/users'>Cancel</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <br><br>
</nz-spin>